extends ./includes/layout
block main
  .container-fluid.grid
    .row.info-panel
      //h4 Select the icons which lies inside the square formed by your 4 icons.

    .row.marginee
      //matrix framework
      -var count=1;
      -var r=0; //row no.
      -var c=1;  //column no.
      - for (var i = 1; i <= 60; i++) 
        if(count%12 == 1)
          - r++
          - c=1
        .col-md-1
          img.token.icon-size(id=r+"|"+c)
        - c++
        - count++

    .row.text-center
      // Button trigger modal
      button.btn.btn-primary.btn-lg.voice-modal(type='button', data-toggle='modal', data-target='#myModal', onclick="generate()")
        | Record your voice!
      form(name="form", method="post", action="/check")
        input.btn.btn-primary.btn-lg#signin-check(type='submit', value='Submit')

      
      // -var xyz = 3;
      // -var a = 1;
      //- each val in iconList 
      //-   - iconSet= doc.password.i1;
      //-   - i++;
      
      img(src='http://i.imgur.com/OqzBgZI.png', onload='session(#{doc.password.i1}, #{doc.password.i2}, #{doc.password.i3}, #{doc.password.i4}, #{iconList})')
  
      //-display icons #{iconList}
      //- -var position;
      //- script.
      //-   -position = getIcon()
      //- -for (var i = 0; i < 3; i++)
      //-   -for (var j = 0; j < 2; j++) 
      //-       each val in iconList
      //-           if (val.iconId==position[i][j])
      //-             .col-md-1
      //-               a(href='#')
      //-                 img.icon.icon-size(src='#{val.picture}')   
        
      
      

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            p #{doc.uId}
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |         
            h4#myModalLabel.modal-title Read the following sentences loud and clear
          |       
          .modal-body
            p#line1 
            p#line2
            p#line3
            p#line4
            p#line5
          |       
          .modal-footer
            form(name="reading", method="get", action="/reader")
              input.btn.btn-default(type='submit', value='Done') 
            //button.btn.btn-default(type='button', data-dismiss='modal', onclick="test()") 
            |         
           // buttonbtn.btn-.primary(type='button') Save changes